<!-- Navbar goes here -->
<%= render partial: "backoffice/shared/nav" %>

<div class="container">
  <!-- Page Layout here -->
  <div class="row">

    <div class="col s12">
      <!-- Grey navigation panel -->
      <h1>Backoffice</h1>
      <p>Find me in app/views/backoffice/dashboard/index.html.erb</p>
    </div>
  </div>
</div>
