// Place all the styles related to the backoffice::dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Navbar
// .nav-fixed { z-index: 996 }
@media only screen and (min-width: 993px){
  nav a.button-collapse {
    display: block;
  }
}

@media only screen and (min-width: 601px){
  header .navbar-fixed nav ul li a i{
    height: 64px;
    line-height: 64px;
  }
}

header .side-nav .card-panel {
  position: relative;
  margin-bottom: -4em;
  bottom: 5em;
  padding: 12px;
}
