<!-- Income Modal Structure -->
<div id="modal-income" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>New Income</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>

<!-- Exepense Structure -->
<div id="modal-expense" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>New Expense</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>

<!-- Transfer Structure -->
<div id="modal-transfer" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>New Transfer</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <!-- Income Modal Trigger -->
      <a class="waves-effect waves-light btn-floating green modal-trigger" href="#modal-income">
        <i class="material-icons">arrow_downward</i>
      </a>
    </li>
    <li>
      <!-- Expense Modal Trigger -->
      <a class="waves-effect waves-light btn-floating red modal-trigger" href="#modal-expense">
        <i class="material-icons">arrow_upward</i>
      </a>
    </li>
    <li>
      <!-- Transfer Modal Trigger -->
      <a class="waves-effect waves-light btn-floating blue modal-trigger" href="#modal-transfer">
        <i class="material-icons">compare_arrows</i>
      </a>
    </li>
  </ul>
</div>
