<header>
  <div class="navbar-fixed">
    <nav>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Control panel</a></li>
    			<li><a href="components.html">Accounts</a></li>
    			<li><a href="components.html">Budget</a></li>
    			<li><a href="components.html">Schedules</a></li>
    			<li><a href="components.html">Reports</a></li>
    			<li><a href="components.html">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Move the sidenav outside of .navbar-fixed -->
  <ul class="side-nav" id="mobile-demo">
    <div class="row">
      <div class="col s10 m10 l10">
        <div class="card">
          <div class="card-image">
            <%= image_tag "profile", :class => "responsive-img" %>
          </div>
          <p class="flow-text center">user_name</p>
        </div>
      </div>
    </div>
    <div class="col s10 m10 l10">
      <!-- <%= image_tag "profile", :class => "circle responsive-img" %> -->
      <!-- <img class="circle responsive-img" src="images/yuna.jpg"> -->
    </div>
    <li><a href="sass.html">Control panel</a></li>
    <li><a href="components.html">Accounts</a></li>
    <li><a href="components.html">Budget</a></li>
    <li><a href="components.html">Schedules</a></li>
    <li><a href="components.html">Reports</a></li>
    <li><a href="components.html">Settings</a></li>
  </ul>
</header>
