<header>
  <div class="navbar-fixed">
    <nav>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Control panel</a></li>
    			<li><a href="components.html">Accounts</a></li>
    			<li><a href="components.html">Budget</a></li>
    			<li><a href="components.html">Schedules</a></li>
    			<li><a href="components.html">Reports</a></li>
    			<li><a href="components.html">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Move the sidenav outside of .navbar-fixed -->
  <ul class="side-nav" id="mobile-demo">
    <%= image_tag "background-profile", :class => "responsive-img" %>
    <div class="card-panel">
      <p class="flow-text center">user_name</p>
    </div>
    <li><a href="sass.html">Control panel</a></li>
    <li><a href="components.html">Accounts</a></li>
    <li><a href="components.html">Budget</a></li>
    <li><a href="components.html">Schedules</a></li>
    <li><a href="components.html">Reports</a></li>
    <li><a href="components.html">Settings</a></li>
  </ul>
</header>
